ul {
    width: 200px;
}

li {
    list-style: none;
}

/* 짝수 번째 li 요소에 스타일을 적용 */
li:nth-child(even) {
    background-color: darkblue;
    color: white;
    padding: 10px;
}

/* 홀수 번째 li 요소에도 스타일을 적용 */
li:nth-child(odd) {
    background-color: lightgray;
    padding: 10px;
}